.box{
  border:2px solid red ;
  padding:10px;
  margin:10px;
  color: blue;
}
#dd{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}
#dd li{
  border: 1px solid;
  padding: 10px;
  margin: 10px;
  width: 150px;
  list-style: none;;
}